﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:20px;
    top:418px;
    width:255px;
    height:62px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:68px;
}

.u4 {
    position:absolute;
    left:2px;
    top:23px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:20px;
    top:110px;
    width:256px;
    height:312px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:312px;
}

.u6 {
    position:absolute;
    left:2px;
    top:148px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:87px;
    top:407px;
    width:128px;
    height:83px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:83px;
}

.u8 {
    position:absolute;
    left:2px;
    top:34px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:113px;
    top:418px;
    width:69px;
    height:63px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:63px;
}

.u10 {
    position:absolute;
    left:2px;
    top:24px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:208px;
    top:422px;
    width:52px;
    height:37px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:37px;
}

.u12 {
    position:absolute;
    left:2px;
    top:10px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:106px;
    top:411px;
    width:84px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:40px;
}

.u14 {
    position:absolute;
    left:2px;
    top:12px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:27px;
    top:110px;
    width:243px;
    height:45px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:51px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:239px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:131px;
    top:457px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:209px;
    top:457px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:133px;
    top:428px;
    width:29px;
    height:29px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u20 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:37px;
    top:113px;
    width:37px;
    height:37px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u22 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:24px;
    top:462px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:49px;
    top:431px;
    width:29px;
    height:30px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:30px;
}

.u25 {
    position:absolute;
    left:2px;
    top:7px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:33px;
    top:159px;
    width:223px;
    height:46px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:229px;
    height:52px;
}

.u27 {
    position:absolute;
    left:2px;
    top:15px;
    width:219px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:63px;
    top:161px;
    width:171px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:44px;
    top:217px;
    width:201px;
    height:48px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:207px;
    height:54px;
}

.u30 {
    position:absolute;
    left:2px;
    top:16px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_line {
    background-image: url('../Add_TOTAL_Amounts_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:201px;
    height:3px;
}

.u31 {
    position:absolute;
    left:44px;
    top:238px;
    width:201px;
    height:10px;
    
}

.u32 {
    position:absolute;
    left:53px;
    top:225px;
    width:98px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:53px;
    top:248px;
    width:98px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:180px;
    top:272px;
    width:65px;
    height:29px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:35px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u34_normal.png');
}

.u36_container {
    position:absolute;
    left:44px;
    top:272px;
    width:65px;
    height:29px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:35px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u34_normal.png');
}

.u38_container {
    position:absolute;
    left:112px;
    top:272px;
    width:65px;
    height:29px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:35px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u34_normal.png');
}

.u40_container {
    position:absolute;
    left:180px;
    top:306px;
    width:65px;
    height:29px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:35px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u34_normal.png');
}

.u42_container {
    position:absolute;
    left:44px;
    top:306px;
    width:65px;
    height:29px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:35px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u34_normal.png');
}

.u44_container {
    position:absolute;
    left:112px;
    top:306px;
    width:65px;
    height:29px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:35px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u34_normal.png');
}

.u46_container {
    position:absolute;
    left:180px;
    top:339px;
    width:65px;
    height:29px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:35px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u34_normal.png');
}

.u48_container {
    position:absolute;
    left:44px;
    top:339px;
    width:65px;
    height:29px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:35px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u34_normal.png');
}

.u50_container {
    position:absolute;
    left:112px;
    top:339px;
    width:65px;
    height:29px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:35px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:180px;
    top:373px;
    width:65px;
    height:29px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:35px;
}

.u53 {
    position:absolute;
    left:2px;
    top:8px;
    width:61px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:44px;
    top:373px;
    width:65px;
    height:29px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:35px;
}

.u55 {
    position:absolute;
    left:2px;
    top:6px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u34_normal.png');
}

.u56_container {
    position:absolute;
    left:112px;
    top:373px;
    width:65px;
    height:29px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:35px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:72px;
    top:382px;
    width:14px;
    height:11px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:17px;
}

.u59 {
    position:absolute;
    left:2px;
    top:-2px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../Add_TOTAL_Amounts_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:63px;
    top:381px;
    width:9px;
    height:12px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:18px;
}

.u61 {
    position:absolute;
    left:2px;
    top:-2px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:74px;
    top:381px;
    width:8px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

