﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:100px;
    top:21px;
    width:137px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:14px;
    top:17px;
    width:24px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Payment_Check_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:15px;
    top:113px;
    width:256px;
    height:407px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:407px;
}

.u6 {
    position:absolute;
    left:2px;
    top:196px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Payment_Check_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:22px;
    top:168px;
    width:241px;
    height:114px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:247px;
    height:120px;
}

.u8 {
    position:absolute;
    left:2px;
    top:49px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:29px;
    top:176px;
    width:118px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../Payment_Check_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:227px;
    height:3px;
}

.u10 {
    position:absolute;
    left:29px;
    top:208px;
    width:227px;
    height:10px;
    
}

.u11_normal {
    background-image: url('../Payment_Check_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:22px;
    top:195px;
    width:243px;
    height:27px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:33px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:239px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:29px;
    top:201px;
    width:118px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:29px;
    top:230px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Payment_Check_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:29px;
    top:327px;
    width:230px;
    height:33px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:39px;
}

.u22 {
    position:absolute;
    left:2px;
    top:8px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Payment_Check_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:22px;
    top:113px;
    width:243px;
    height:45px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:51px;
}

.u24 {
    position:absolute;
    left:2px;
    top:12px;
    width:239px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Payment_Check_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:32px;
    top:116px;
    width:37px;
    height:37px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u26 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:29px;
    top:255px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:35px;
    top:336px;
    width:115px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:195px;
    top:332px;
    width:50px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Payment_Check_files/u21_normal.png');
}

.u32_container {
    position:absolute;
    left:29px;
    top:294px;
    width:230px;
    height:33px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:39px;
}

.u33 {
    position:absolute;
    left:2px;
    top:8px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:35px;
    top:303px;
    width:115px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:184px;
    top:300px;
    width:115px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Payment_Check_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:32px;
    top:388px;
    width:218px;
    height:31px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:37px;
}

.u37 {
    position:absolute;
    left:2px;
    top:6px;
    width:214px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Payment_Check_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:34px;
    top:429px;
    width:218px;
    height:31px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:37px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:214px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Payment_Check_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:48px;
    top:434px;
    width:20px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Payment_Check_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:48px;
    top:392px;
    width:23px;
    height:23px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:34px;
    top:367px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_line {
    background-image: url('../Payment_Check_files/u45_line.png');
}

.u45_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u45 {
    position:absolute;
    left:21px;
    top:464px;
    width:238px;
    height:10px;
    
}

.u46_normal {
    background-image: url('../Payment_Check_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:91px;
    top:474px;
    width:75px;
    height:25px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Payment_Check_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:27px;
    top:477px;
    width:46px;
    height:19px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:25px;
}

.u49 {
    position:absolute;
    left:2px;
    top:3px;
    width:42px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Payment_Check_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:182px;
    top:474px;
    width:75px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Payment_Check_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:15px;
    top:506px;
    width:261px;
    height:62px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:62px;
}

.u53 {
    position:absolute;
    left:2px;
    top:23px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Payment_Check_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:205px;
    top:510px;
    width:52px;
    height:37px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:37px;
}

.u55 {
    position:absolute;
    left:2px;
    top:10px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:128px;
    top:547px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:206px;
    top:545px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Payment_Check_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:130px;
    top:516px;
    width:29px;
    height:29px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u59 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:121px;
    top:545px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:48px;
    top:545px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_line {
    background-image: url('../Payment_Check_files/u62_line.png');
}

.u62_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u62 {
    position:absolute;
    left:93px;
    top:509px;
    width:10px;
    height:55px;
    
}

.u63_line {
    background-image: url('../Payment_Check_files/u63_line.png');
}

.u63_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u63 {
    position:absolute;
    left:185px;
    top:509px;
    width:10px;
    height:55px;
    
}

.u64_normal {
    background-image: url('../Payment_Check_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:44px;
    top:515px;
    width:29px;
    height:29px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u65 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Payment_Check_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:127px;
    top:515px;
    width:30px;
    height:30px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u67 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

