﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Login_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:19px;
    top:112px;
    width:256px;
    height:287px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:287px;
}

.u4 {
    position:absolute;
    left:2px;
    top:136px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Login_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:24px;
    top:112px;
    width:243px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:14px;
    width:239px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Login_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:34px;
    top:115px;
    width:37px;
    height:37px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:54px;
    top:124px;
    width:200px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Login_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:110px;
    top:280px;
    width:75px;
    height:25px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:34px;
    top:458px;
    width:228px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Login_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:102px;
    top:417px;
    width:103px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:99px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:37px;
    top:170px;
    width:140px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Login_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:34px;
    top:184px;
    width:220px;
    height:21px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:27px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:216px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:37px;
    top:232px;
    width:140px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Login_files/u16_normal.png');
}

.u19_container {
    position:absolute;
    left:34px;
    top:246px;
    width:220px;
    height:21px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:27px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:216px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:34px;
    top:318px;
    width:228px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

