﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:100px;
    top:21px;
    width:137px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:14px;
    top:17px;
    width:24px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Payment_Cash_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:14px;
    top:113px;
    width:256px;
    height:370px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:370px;
}

.u6 {
    position:absolute;
    left:2px;
    top:177px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Payment_Cash_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:21px;
    top:168px;
    width:243px;
    height:114px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:120px;
}

.u8 {
    position:absolute;
    left:2px;
    top:49px;
    width:239px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Payment_Cash_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:21px;
    top:168px;
    width:241px;
    height:28px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:247px;
    height:34px;
}

.u10 {
    position:absolute;
    left:2px;
    top:6px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:29px;
    top:176px;
    width:118px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../Payment_Cash_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:227px;
    height:3px;
}

.u12 {
    position:absolute;
    left:29px;
    top:217px;
    width:227px;
    height:10px;
    
}

.u13 {
    position:absolute;
    left:29px;
    top:201px;
    width:118px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:29px;
    top:230px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Payment_Cash_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:29px;
    top:291px;
    width:230px;
    height:33px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:39px;
}

.u22 {
    position:absolute;
    left:2px;
    top:8px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:35px;
    top:300px;
    width:115px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:184px;
    top:297px;
    width:115px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u25_container {
    position:absolute;
    left:22px;
    top:113px;
    width:243px;
    height:45px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:51px;
}

.u26 {
    position:absolute;
    left:2px;
    top:12px;
    width:239px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Payment_Cash_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:32px;
    top:116px;
    width:37px;
    height:37px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:29px;
    top:255px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_line {
    background-image: url('../Payment_Cash_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:0px;
    top:4px;
    width:227px;
    height:3px;
}

.u32 {
    position:absolute;
    left:29px;
    top:245px;
    width:227px;
    height:10px;
    
}

.u33_normal {
    background-image: url('../Payment_Cash_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:32px;
    top:355px;
    width:218px;
    height:31px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:37px;
}

.u34 {
    position:absolute;
    left:2px;
    top:6px;
    width:214px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Payment_Cash_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:34px;
    top:396px;
    width:218px;
    height:31px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:37px;
}

.u36 {
    position:absolute;
    left:2px;
    top:6px;
    width:214px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Payment_Cash_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:48px;
    top:401px;
    width:20px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Payment_Cash_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:48px;
    top:359px;
    width:23px;
    height:23px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u40 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:34px;
    top:334px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_line {
    background-image: url('../Payment_Cash_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u42 {
    position:absolute;
    left:21px;
    top:431px;
    width:238px;
    height:10px;
    
}

.u43_normal {
    background-image: url('../Payment_Cash_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:91px;
    top:441px;
    width:75px;
    height:25px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u44 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Payment_Cash_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:27px;
    top:444px;
    width:46px;
    height:19px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:25px;
}

.u46 {
    position:absolute;
    left:2px;
    top:3px;
    width:42px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Payment_Cash_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:182px;
    top:441px;
    width:75px;
    height:25px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Payment_Cash_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:14px;
    top:111px;
    width:257px;
    height:45px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:51px;
}

.u50 {
    position:absolute;
    left:2px;
    top:14px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Payment_Cash_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:14px;
    top:476px;
    width:261px;
    height:62px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:62px;
}

.u52 {
    position:absolute;
    left:2px;
    top:23px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Payment_Cash_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:204px;
    top:480px;
    width:52px;
    height:37px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:37px;
}

.u54 {
    position:absolute;
    left:2px;
    top:10px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:127px;
    top:517px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:205px;
    top:515px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Payment_Cash_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:129px;
    top:486px;
    width:29px;
    height:29px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u58 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:120px;
    top:515px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:47px;
    top:515px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_line {
    background-image: url('../Payment_Cash_files/u61_line.png');
}

.u61_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u61 {
    position:absolute;
    left:92px;
    top:479px;
    width:10px;
    height:55px;
    
}

.u62_line {
    background-image: url('../Payment_Cash_files/u62_line.png');
}

.u62_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u62 {
    position:absolute;
    left:184px;
    top:479px;
    width:10px;
    height:55px;
    
}

.u63_normal {
    background-image: url('../Payment_Cash_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:43px;
    top:485px;
    width:29px;
    height:29px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u64 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Payment_Cash_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:126px;
    top:485px;
    width:30px;
    height:30px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u66 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

