﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:13px;
    top:19px;
    width:24px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:13px;
    top:93px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Choose_Merchant_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:21px;
    top:144px;
    width:252px;
    height:30px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:36px;
}

.u6 {
    position:absolute;
    left:2px;
    top:8px;
    width:248px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Choose_Merchant_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:21px;
    top:175px;
    width:252px;
    height:29px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:35px;
}

.u8 {
    position:absolute;
    left:2px;
    top:7px;
    width:248px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Choose_Merchant_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:21px;
    top:204px;
    width:252px;
    height:28px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:34px;
}

.u10 {
    position:absolute;
    left:2px;
    top:6px;
    width:248px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Choose_Merchant_files/u9_normal.png');
}

.u11_container {
    position:absolute;
    left:21px;
    top:232px;
    width:252px;
    height:28px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:34px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:248px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Choose_Merchant_files/u9_normal.png');
}

.u13_container {
    position:absolute;
    left:21px;
    top:260px;
    width:252px;
    height:28px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:34px;
}

.u14 {
    position:absolute;
    left:2px;
    top:6px;
    width:248px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Choose_Merchant_files/u9_normal.png');
}

.u15_container {
    position:absolute;
    left:21px;
    top:288px;
    width:252px;
    height:28px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:34px;
}

.u16 {
    position:absolute;
    left:2px;
    top:6px;
    width:248px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Choose_Merchant_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:21px;
    top:316px;
    width:252px;
    height:27px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:33px;
}

.u18 {
    position:absolute;
    left:2px;
    top:6px;
    width:248px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Choose_Merchant_files/u9_normal.png');
}

.u19_container {
    position:absolute;
    left:21px;
    top:343px;
    width:252px;
    height:28px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:34px;
}

.u20 {
    position:absolute;
    left:2px;
    top:6px;
    width:248px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Choose_Merchant_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:21px;
    top:371px;
    width:252px;
    height:31px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:37px;
}

.u22 {
    position:absolute;
    left:2px;
    top:8px;
    width:248px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Choose_Merchant_files/u5_normal.png');
}

.u23_container {
    position:absolute;
    left:21px;
    top:402px;
    width:252px;
    height:30px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:36px;
}

.u24 {
    position:absolute;
    left:2px;
    top:8px;
    width:248px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

