﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Add_Transaction_part_2_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:20px;
    top:110px;
    width:256px;
    height:312px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:312px;
}

.u4 {
    position:absolute;
    left:2px;
    top:148px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Add_Transaction_part_2_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:27px;
    top:110px;
    width:243px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:239px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Add_Transaction_part_2_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:37px;
    top:113px;
    width:37px;
    height:37px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../Add_Transaction_part_2_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u9 {
    position:absolute;
    left:27px;
    top:299px;
    width:238px;
    height:10px;
    
}

.u10 {
    position:absolute;
    left:34px;
    top:160px;
    width:140px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Add_Transaction_part_2_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:31px;
    top:174px;
    width:220px;
    height:21px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:27px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:216px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Add_Transaction_part_2_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:37px;
    top:220px;
    width:218px;
    height:31px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:37px;
}

.u14 {
    position:absolute;
    left:2px;
    top:6px;
    width:214px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Add_Transaction_part_2_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:98px;
    top:316px;
    width:75px;
    height:25px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u16 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Add_Transaction_part_2_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:34px;
    top:319px;
    width:46px;
    height:19px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:25px;
}

.u18 {
    position:absolute;
    left:2px;
    top:3px;
    width:42px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Add_Transaction_part_2_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:39px;
    top:261px;
    width:218px;
    height:31px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:37px;
}

.u20 {
    position:absolute;
    left:2px;
    top:6px;
    width:214px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Add_Transaction_part_2_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:52px;
    top:266px;
    width:20px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Add_Transaction_part_2_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:52px;
    top:224px;
    width:23px;
    height:23px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u24 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../Add_Transaction_part_2_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u25 {
    position:absolute;
    left:27px;
    top:205px;
    width:238px;
    height:10px;
    
}

.u26_normal {
    background-image: url('../Add_Transaction_part_2_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:17px;
    top:420px;
    width:261px;
    height:62px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:62px;
}

.u27 {
    position:absolute;
    left:2px;
    top:23px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Add_Transaction_part_2_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:207px;
    top:424px;
    width:52px;
    height:37px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:37px;
}

.u29 {
    position:absolute;
    left:2px;
    top:10px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:130px;
    top:461px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:208px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Add_Transaction_part_2_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:132px;
    top:430px;
    width:29px;
    height:29px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u33 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:123px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:50px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_line {
    background-image: url('../Add_Transaction_part_2_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u36 {
    position:absolute;
    left:95px;
    top:423px;
    width:10px;
    height:55px;
    
}

.u37_line {
    background-image: url('../Add_Transaction_part_2_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u37 {
    position:absolute;
    left:187px;
    top:423px;
    width:10px;
    height:55px;
    
}

.u38_normal {
    background-image: url('../Add_Transaction_part_2_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:46px;
    top:429px;
    width:29px;
    height:29px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Add_Transaction_part_2_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:129px;
    top:429px;
    width:30px;
    height:30px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u41 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Add_Transaction_part_2_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:189px;
    top:316px;
    width:75px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

