﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Add_Edit_Recipient_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:19px;
    top:108px;
    width:256px;
    height:344px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:344px;
}

.u4 {
    position:absolute;
    left:2px;
    top:164px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Add_Edit_Recipient_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:19px;
    top:108px;
    width:250px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:246px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Add_Edit_Recipient_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:33px;
    top:190px;
    width:226px;
    height:24px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:232px;
    height:30px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:39px;
    top:196px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Add_Edit_Recipient_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:33px;
    top:161px;
    width:112px;
    height:21px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:27px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:41px;
    top:165px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Add_Edit_Recipient_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:145px;
    top:161px;
    width:114px;
    height:21px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:27px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:149px;
    top:165px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Add_Edit_Recipient_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:33px;
    top:317px;
    width:112px;
    height:18px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:24px;
}

.u17 {
    position:absolute;
    left:2px;
    top:1px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:41px;
    top:321px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Add_Edit_Recipient_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:145px;
    top:317px;
    width:114px;
    height:18px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:24px;
}

.u20 {
    position:absolute;
    left:2px;
    top:1px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:149px;
    top:321px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Add_Edit_Recipient_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:33px;
    top:222px;
    width:226px;
    height:22px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:232px;
    height:28px;
}

.u23 {
    position:absolute;
    left:2px;
    top:3px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:41px;
    top:227px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Add_Edit_Recipient_files/u10_normal.png');
}

.u25_container {
    position:absolute;
    left:33px;
    top:254px;
    width:112px;
    height:21px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:27px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:41px;
    top:259px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Add_Edit_Recipient_files/u13_normal.png');
}

.u28_container {
    position:absolute;
    left:145px;
    top:254px;
    width:114px;
    height:21px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:27px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:149px;
    top:259px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Add_Edit_Recipient_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:33px;
    top:283px;
    width:112px;
    height:24px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:30px;
}

.u32 {
    position:absolute;
    left:2px;
    top:4px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:41px;
    top:289px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Add_Edit_Recipient_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:145px;
    top:283px;
    width:114px;
    height:24px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:30px;
}

.u35 {
    position:absolute;
    left:2px;
    top:4px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:149px;
    top:289px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Add_Edit_Recipient_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:33px;
    top:365px;
    width:222px;
    height:25px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:31px;
}

.u38 {
    position:absolute;
    left:2px;
    top:5px;
    width:218px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Add_Edit_Recipient_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:180px;
    top:403px;
    width:75px;
    height:25px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u40 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:16px;
    top:0px;
    width:182px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Add_Edit_Recipient_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:37px;
    top:404px;
    width:75px;
    height:25px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u44 {
    position:absolute;
    left:2px;
    top:6px;
    width:71px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Add_Edit_Recipient_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:17px;
    top:450px;
    width:261px;
    height:62px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:62px;
}

.u46 {
    position:absolute;
    left:2px;
    top:23px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Add_Edit_Recipient_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:207px;
    top:454px;
    width:52px;
    height:37px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:37px;
}

.u48 {
    position:absolute;
    left:2px;
    top:10px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:130px;
    top:491px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:208px;
    top:489px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Add_Edit_Recipient_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:132px;
    top:460px;
    width:29px;
    height:29px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u52 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:123px;
    top:489px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:50px;
    top:489px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_line {
    background-image: url('../Add_Edit_Recipient_files/u55_line.png');
}

.u55_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u55 {
    position:absolute;
    left:95px;
    top:453px;
    width:10px;
    height:55px;
    
}

.u56_line {
    background-image: url('../Add_Edit_Recipient_files/u56_line.png');
}

.u56_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u56 {
    position:absolute;
    left:187px;
    top:453px;
    width:10px;
    height:55px;
    
}

.u57_normal {
    background-image: url('../Add_Edit_Recipient_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:46px;
    top:459px;
    width:29px;
    height:29px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u58 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Add_Edit_Recipient_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:129px;
    top:459px;
    width:30px;
    height:30px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u60 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

