﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 425px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Merchant_-_Saved_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:19px;
    top:108px;
    width:256px;
    height:302px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:302px;
}

.u4 {
    position:absolute;
    left:2px;
    top:143px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Merchant_-_Saved_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:370px;
    top:202px;
    width:45px;
    height:30px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:30px;
}

.u6 {
    position:absolute;
    left:2px;
    top:7px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Merchant_-_Saved_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:19px;
    top:108px;
    width:250px;
    height:45px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:51px;
}

.u8 {
    position:absolute;
    left:2px;
    top:5px;
    width:246px;
    height:35px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Merchant_-_Saved_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:207px;
    top:366px;
    width:45px;
    height:19px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:25px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:36px;
    top:163px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:36px;
    top:180px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:35px;
    top:199px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:36px;
    top:230px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:36px;
    top:249px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:36px;
    top:268px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Merchant_-_Saved_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:17px;
    top:420px;
    width:261px;
    height:62px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:62px;
}

.u18 {
    position:absolute;
    left:2px;
    top:23px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Merchant_-_Saved_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:207px;
    top:424px;
    width:52px;
    height:37px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:37px;
}

.u20 {
    position:absolute;
    left:2px;
    top:10px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:130px;
    top:461px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:208px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Merchant_-_Saved_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:132px;
    top:430px;
    width:29px;
    height:29px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u24 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:123px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:50px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../Merchant_-_Saved_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u27 {
    position:absolute;
    left:95px;
    top:423px;
    width:10px;
    height:55px;
    
}

.u28_line {
    background-image: url('../Merchant_-_Saved_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u28 {
    position:absolute;
    left:187px;
    top:423px;
    width:10px;
    height:55px;
    
}

.u29_normal {
    background-image: url('../Merchant_-_Saved_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:46px;
    top:429px;
    width:29px;
    height:29px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u30 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Merchant_-_Saved_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:129px;
    top:429px;
    width:30px;
    height:30px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u32 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

