﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Merchant_Edit_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:18px;
    top:87px;
    width:259px;
    height:392px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:265px;
    height:398px;
}

.u4 {
    position:absolute;
    left:2px;
    top:188px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Merchant_Edit_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:211px;
    top:431px;
    width:45px;
    height:19px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:25px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Merchant_Edit_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:25px;
    top:431px;
    width:45px;
    height:19px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:25px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Merchant_Edit_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:18px;
    top:116px;
    width:258px;
    height:29px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:264px;
    height:35px;
}

.u10 {
    position:absolute;
    left:2px;
    top:6px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:28px;
    top:123px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Merchant_Edit_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:18px;
    top:87px;
    width:257px;
    height:29px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:35px;
}

.u13 {
    position:absolute;
    left:2px;
    top:6px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:26px;
    top:94px;
    width:174px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Merchant_Edit_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:40px;
    top:378px;
    width:223px;
    height:25px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:229px;
    height:31px;
}

.u16 {
    position:absolute;
    left:2px;
    top:5px;
    width:219px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Merchant_Edit_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:18px;
    top:161px;
    width:121px;
    height:29px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:35px;
}

.u18 {
    position:absolute;
    left:2px;
    top:6px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:28px;
    top:168px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Merchant_Edit_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:139px;
    top:161px;
    width:137px;
    height:29px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:35px;
}

.u21 {
    position:absolute;
    left:2px;
    top:6px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:171px;
    top:168px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Merchant_Edit_files/u17_normal.png');
}

.u23_container {
    position:absolute;
    left:18px;
    top:190px;
    width:121px;
    height:29px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:35px;
}

.u24 {
    position:absolute;
    left:2px;
    top:6px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:28px;
    top:196px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Merchant_Edit_files/u20_normal.png');
}

.u26_container {
    position:absolute;
    left:139px;
    top:190px;
    width:137px;
    height:29px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:35px;
}

.u27 {
    position:absolute;
    left:2px;
    top:6px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:171px;
    top:196px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Merchant_Edit_files/u9_normal.png');
}

.u29_container {
    position:absolute;
    left:18px;
    top:236px;
    width:258px;
    height:29px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:264px;
    height:35px;
}

.u30 {
    position:absolute;
    left:2px;
    top:6px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:28px;
    top:242px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Merchant_Edit_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:18px;
    top:265px;
    width:129px;
    height:29px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:35px;
}

.u33 {
    position:absolute;
    left:2px;
    top:6px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:28px;
    top:272px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Merchant_Edit_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:147px;
    top:265px;
    width:128px;
    height:29px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:35px;
}

.u36 {
    position:absolute;
    left:2px;
    top:6px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:154px;
    top:272px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Merchant_Edit_files/u32_normal.png');
}

.u38_container {
    position:absolute;
    left:18px;
    top:294px;
    width:129px;
    height:29px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:35px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:28px;
    top:300px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Merchant_Edit_files/u32_normal.png');
}

.u41_container {
    position:absolute;
    left:147px;
    top:294px;
    width:129px;
    height:29px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:35px;
}

.u42 {
    position:absolute;
    left:2px;
    top:6px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:154px;
    top:300px;
    width:102px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Merchant_Edit_files/u9_normal.png');
}

.u44_container {
    position:absolute;
    left:18px;
    top:334px;
    width:258px;
    height:29px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:264px;
    height:35px;
}

.u45 {
    position:absolute;
    left:2px;
    top:6px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:25px;
    top:341px;
    width:129px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

