﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 314px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Add_Transaction_-_Completed_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:20px;
    top:110px;
    width:256px;
    height:312px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:312px;
}

.u4 {
    position:absolute;
    left:2px;
    top:148px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Add_Transaction_-_Completed_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:27px;
    top:110px;
    width:243px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:239px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Add_Transaction_-_Completed_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:37px;
    top:113px;
    width:37px;
    height:37px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:33px;
    top:162px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:42px;
    top:184px;
    width:63px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:173px;
    top:159px;
    width:92px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../Add_Transaction_-_Completed_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:108px;
    height:3px;
}

.u12 {
    position:absolute;
    left:98px;
    top:190px;
    width:108px;
    height:10px;
    
}

.u13 {
    position:absolute;
    left:173px;
    top:185px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_line {
    background-image: url('../Add_Transaction_-_Completed_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u14 {
    position:absolute;
    left:28px;
    top:227px;
    width:238px;
    height:10px;
    
}

.u15 {
    position:absolute;
    left:42px;
    top:204px;
    width:63px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:171px;
    top:206px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_line {
    background-image: url('../Add_Transaction_-_Completed_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:108px;
    height:3px;
}

.u17 {
    position:absolute;
    left:97px;
    top:211px;
    width:108px;
    height:10px;
    
}

.u18 {
    position:absolute;
    left:33px;
    top:237px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:33px;
    top:261px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:33px;
    top:285px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:209px;
    top:285px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:33px;
    top:309px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:33px;
    top:333px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Add_Transaction_-_Completed_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:184px;
    top:383px;
    width:75px;
    height:25px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u25 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Add_Transaction_-_Completed_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:33px;
    top:384px;
    width:75px;
    height:25px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u27 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../Add_Transaction_-_Completed_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u28 {
    position:absolute;
    left:28px;
    top:251px;
    width:238px;
    height:10px;
    
}

.u29_line {
    background-image: url('../Add_Transaction_-_Completed_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u29 {
    position:absolute;
    left:28px;
    top:275px;
    width:238px;
    height:10px;
    
}

.u30_line {
    background-image: url('../Add_Transaction_-_Completed_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u30 {
    position:absolute;
    left:28px;
    top:299px;
    width:238px;
    height:10px;
    
}

.u31_line {
    background-image: url('../Add_Transaction_-_Completed_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u31 {
    position:absolute;
    left:28px;
    top:323px;
    width:238px;
    height:10px;
    
}

.u32_line {
    background-image: url('../Add_Transaction_-_Completed_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u32 {
    position:absolute;
    left:28px;
    top:349px;
    width:238px;
    height:10px;
    
}

.u33 {
    position:absolute;
    left:214px;
    top:309px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:209px;
    top:237px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:164px;
    top:262px;
    width:116px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:181px;
    top:333px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

