﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Home_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:19px;
    top:108px;
    width:256px;
    height:312px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:312px;
}

.u4 {
    position:absolute;
    left:2px;
    top:148px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Home_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:32px;
    top:163px;
    width:105px;
    height:104px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:105px;
    height:104px;
}

.u6 {
    position:absolute;
    left:2px;
    top:44px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Home_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:154px;
    top:163px;
    width:106px;
    height:107px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:107px;
}

.u8 {
    position:absolute;
    left:2px;
    top:46px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Home_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:17px;
    top:420px;
    width:261px;
    height:62px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:62px;
}

.u10 {
    position:absolute;
    left:2px;
    top:23px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Home_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:207px;
    top:424px;
    width:52px;
    height:37px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:37px;
}

.u12 {
    position:absolute;
    left:2px;
    top:10px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Home_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:26px;
    top:108px;
    width:243px;
    height:45px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:51px;
}

.u14 {
    position:absolute;
    left:2px;
    top:12px;
    width:239px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:130px;
    top:461px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:208px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Home_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:132px;
    top:430px;
    width:29px;
    height:29px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u18 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Home_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:36px;
    top:111px;
    width:37px;
    height:37px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u20 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:123px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:50px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_line {
    background-image: url('../Home_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u23 {
    position:absolute;
    left:95px;
    top:423px;
    width:10px;
    height:55px;
    
}

.u24_line {
    background-image: url('../Home_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u24 {
    position:absolute;
    left:187px;
    top:423px;
    width:10px;
    height:55px;
    
}

.u25_normal {
    background-image: url('../Home_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:46px;
    top:429px;
    width:29px;
    height:29px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u26 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Home_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:129px;
    top:429px;
    width:30px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Home_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:36px;
    top:280px;
    width:106px;
    height:97px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:97px;
}

.u30 {
    position:absolute;
    left:2px;
    top:40px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Home_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:158px;
    top:280px;
    width:102px;
    height:94px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:94px;
}

.u32 {
    position:absolute;
    left:2px;
    top:39px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

