﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:100px;
    top:21px;
    width:137px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:14px;
    top:17px;
    width:24px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Payment-CreditCard_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:15px;
    top:113px;
    width:256px;
    height:387px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:387px;
}

.u6 {
    position:absolute;
    left:2px;
    top:186px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Payment-CreditCard_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:22px;
    top:168px;
    width:241px;
    height:114px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:247px;
    height:120px;
}

.u8 {
    position:absolute;
    left:2px;
    top:49px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:29px;
    top:176px;
    width:118px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../Payment-CreditCard_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:227px;
    height:3px;
}

.u10 {
    position:absolute;
    left:29px;
    top:189px;
    width:227px;
    height:10px;
    
}

.u11_normal {
    background-image: url('../Payment-CreditCard_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:22px;
    top:224px;
    width:243px;
    height:27px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:33px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:239px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:29px;
    top:201px;
    width:118px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:29px;
    top:230px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Payment-CreditCard_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:22px;
    top:113px;
    width:243px;
    height:45px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:51px;
}

.u22 {
    position:absolute;
    left:2px;
    top:12px;
    width:239px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Payment-CreditCard_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:32px;
    top:116px;
    width:37px;
    height:37px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:29px;
    top:259px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Payment-CreditCard_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:29px;
    top:327px;
    width:230px;
    height:33px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:39px;
}

.u29 {
    position:absolute;
    left:2px;
    top:8px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:35px;
    top:336px;
    width:115px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:195px;
    top:332px;
    width:50px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Payment-CreditCard_files/u28_normal.png');
}

.u32_container {
    position:absolute;
    left:29px;
    top:294px;
    width:230px;
    height:33px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:39px;
}

.u33 {
    position:absolute;
    left:2px;
    top:8px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:35px;
    top:303px;
    width:115px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:184px;
    top:300px;
    width:115px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Payment-CreditCard_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:32px;
    top:389px;
    width:218px;
    height:31px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:37px;
}

.u37 {
    position:absolute;
    left:2px;
    top:6px;
    width:214px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Payment-CreditCard_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:34px;
    top:430px;
    width:218px;
    height:31px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:37px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:214px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Payment-CreditCard_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:48px;
    top:435px;
    width:20px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Payment-CreditCard_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:48px;
    top:393px;
    width:23px;
    height:23px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:34px;
    top:368px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_line {
    background-image: url('../Payment-CreditCard_files/u45_line.png');
}

.u45_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u45 {
    position:absolute;
    left:21px;
    top:465px;
    width:238px;
    height:10px;
    
}

.u46_normal {
    background-image: url('../Payment-CreditCard_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:91px;
    top:475px;
    width:75px;
    height:25px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Payment-CreditCard_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:27px;
    top:478px;
    width:46px;
    height:19px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:25px;
}

.u49 {
    position:absolute;
    left:2px;
    top:3px;
    width:42px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Payment-CreditCard_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:182px;
    top:475px;
    width:75px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

