﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 712px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Merchant_Details_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:445px;
    top:69px;
    width:257px;
    height:409px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:415px;
}

.u4 {
    position:absolute;
    left:2px;
    top:196px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Merchant_Details_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:445px;
    top:437px;
    width:256px;
    height:41px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:262px;
    height:47px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Merchant_Details_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:645px;
    top:448px;
    width:45px;
    height:19px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:25px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Merchant_Details_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:449px;
    top:21px;
    width:26px;
    height:19px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:25px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:22px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Merchant_Details_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:445px;
    top:69px;
    width:257px;
    height:63px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:69px;
}

.u12 {
    position:absolute;
    left:2px;
    top:24px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:505px;
    top:79px;
    width:140px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:523px;
    top:104px;
    width:96px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:461px;
    top:145px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:461px;
    top:162px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:460px;
    top:181px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:461px;
    top:212px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:461px;
    top:231px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:461px;
    top:250px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

