﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 448px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:414px;
    top:25px;
    width:24px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Settings_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:16px;
    top:111px;
    width:256px;
    height:347px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:347px;
}

.u5 {
    position:absolute;
    left:2px;
    top:166px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Settings_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:23px;
    top:111px;
    width:243px;
    height:45px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:51px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:239px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Settings_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:33px;
    top:114px;
    width:37px;
    height:37px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:28px;
    top:185px;
    width:115px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:28px;
    top:202px;
    width:214px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../Settings_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:228px;
    height:3px;
}

.u12 {
    position:absolute;
    left:27px;
    top:215px;
    width:228px;
    height:10px;
    
}

.u13 {
    position:absolute;
    left:28px;
    top:225px;
    width:115px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:28px;
    top:242px;
    width:214px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_line {
    background-image: url('../Settings_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:0px;
    top:4px;
    width:228px;
    height:3px;
}

.u15 {
    position:absolute;
    left:29px;
    top:274px;
    width:228px;
    height:10px;
    
}

.u16 {
    position:absolute;
    left:28px;
    top:262px;
    width:115px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:28px;
    top:323px;
    width:115px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_line {
    background-image: url('../Settings_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:0px;
    top:4px;
    width:228px;
    height:3px;
}

.u18 {
    position:absolute;
    left:27px;
    top:335px;
    width:228px;
    height:10px;
    
}

.u19 {
    position:absolute;
    left:27px;
    top:347px;
    width:115px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Settings_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:241px;
    top:354px;
    width:13px;
    height:15px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:21px;
}

.u21 {
    position:absolute;
    left:2px;
    top:0px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:27px;
    top:364px;
    width:214px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:27px;
    top:389px;
    width:115px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../Settings_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:228px;
    height:3px;
}

.u24 {
    position:absolute;
    left:27px;
    top:379px;
    width:228px;
    height:10px;
    
}

.u25 {
    position:absolute;
    left:27px;
    top:495px;
    width:214px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:29px;
    top:285px;
    width:115px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:29px;
    top:302px;
    width:214px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Settings_files/u20_normal.png');
}

.u28_container {
    position:absolute;
    left:242px;
    top:389px;
    width:13px;
    height:15px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:21px;
}

.u29 {
    position:absolute;
    left:2px;
    top:0px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Settings_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:228px;
    top:230px;
    width:20px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Settings_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:233px;
    top:234px;
    width:11px;
    height:12px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:12px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Settings_files/u30_normal.png');
}

.u34_container {
    position:absolute;
    left:227px;
    top:191px;
    width:20px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Settings_files/u32_normal.png');
}

.u36_container {
    position:absolute;
    left:232px;
    top:195px;
    width:11px;
    height:12px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:12px;
}

.u37 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Settings_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:228px;
    top:296px;
    width:20px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Settings_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:232px;
    top:300px;
    width:12px;
    height:12px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:12px;
}

.u41 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_line {
    background-image: url('../Settings_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:0px;
    top:4px;
    width:228px;
    height:3px;
}

.u42 {
    position:absolute;
    left:29px;
    top:176px;
    width:228px;
    height:10px;
    
}

.u43 {
    position:absolute;
    left:28px;
    top:164px;
    width:115px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:27px;
    top:406px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45_normal {
    background-image: url('../Settings_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:16px;
    top:450px;
    width:261px;
    height:62px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:62px;
}

.u46 {
    position:absolute;
    left:2px;
    top:23px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Settings_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:206px;
    top:454px;
    width:52px;
    height:37px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:37px;
}

.u48 {
    position:absolute;
    left:2px;
    top:10px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:129px;
    top:491px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:207px;
    top:489px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Settings_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:131px;
    top:460px;
    width:29px;
    height:29px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u52 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:122px;
    top:489px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:49px;
    top:489px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_line {
    background-image: url('../Settings_files/u55_line.png');
}

.u55_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u55 {
    position:absolute;
    left:94px;
    top:453px;
    width:10px;
    height:55px;
    
}

.u56_line {
    background-image: url('../Settings_files/u56_line.png');
}

.u56_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u56 {
    position:absolute;
    left:186px;
    top:453px;
    width:10px;
    height:55px;
    
}

.u57_normal {
    background-image: url('../Settings_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:45px;
    top:459px;
    width:29px;
    height:29px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u58 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Settings_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:128px;
    top:459px;
    width:30px;
    height:30px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u60 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

