﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:100px;
    top:21px;
    width:137px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:14px;
    top:17px;
    width:24px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Payment_paypal_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:15px;
    top:113px;
    width:256px;
    height:374px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:374px;
}

.u6 {
    position:absolute;
    left:2px;
    top:179px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Payment_paypal_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:22px;
    top:168px;
    width:241px;
    height:114px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:247px;
    height:120px;
}

.u8 {
    position:absolute;
    left:2px;
    top:49px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:29px;
    top:176px;
    width:118px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../Payment_paypal_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:227px;
    height:3px;
}

.u10 {
    position:absolute;
    left:29px;
    top:218px;
    width:227px;
    height:10px;
    
}

.u11_normal {
    background-image: url('../Payment_paypal_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:22px;
    top:251px;
    width:243px;
    height:27px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:33px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:239px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:29px;
    top:201px;
    width:118px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:29px;
    top:230px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Payment_paypal_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:22px;
    top:113px;
    width:243px;
    height:45px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:51px;
}

.u22 {
    position:absolute;
    left:2px;
    top:12px;
    width:239px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Payment_paypal_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:32px;
    top:116px;
    width:37px;
    height:37px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:29px;
    top:255px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:16px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../Payment_paypal_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:227px;
    height:3px;
}

.u28 {
    position:absolute;
    left:26px;
    top:190px;
    width:227px;
    height:10px;
    
}

.u29_line {
    background-image: url('../Payment_paypal_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u29 {
    position:absolute;
    left:21px;
    top:432px;
    width:238px;
    height:10px;
    
}

.u30_normal {
    background-image: url('../Payment_paypal_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:91px;
    top:442px;
    width:75px;
    height:25px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u31 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Payment_paypal_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:27px;
    top:445px;
    width:46px;
    height:19px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:25px;
}

.u33 {
    position:absolute;
    left:2px;
    top:3px;
    width:42px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Payment_paypal_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:182px;
    top:442px;
    width:75px;
    height:25px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u35 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

