﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Add_Edit_Merchant_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:19px;
    top:108px;
    width:256px;
    height:327px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:327px;
}

.u4 {
    position:absolute;
    left:2px;
    top:156px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Add_Edit_Merchant_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:19px;
    top:108px;
    width:250px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:5px;
    width:246px;
    height:35px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Add_Edit_Merchant_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:33px;
    top:221px;
    width:226px;
    height:22px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:232px;
    height:28px;
}

.u8 {
    position:absolute;
    left:2px;
    top:3px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:39px;
    top:224px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Add_Edit_Merchant_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:33px;
    top:332px;
    width:112px;
    height:23px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:29px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:41px;
    top:336px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Add_Edit_Merchant_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:145px;
    top:332px;
    width:114px;
    height:23px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:29px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:149px;
    top:336px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Add_Edit_Merchant_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:33px;
    top:248px;
    width:226px;
    height:24px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:232px;
    height:30px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:41px;
    top:254px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Add_Edit_Merchant_files/u10_normal.png');
}

.u19_container {
    position:absolute;
    left:33px;
    top:277px;
    width:112px;
    height:23px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:29px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:41px;
    top:281px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Add_Edit_Merchant_files/u13_normal.png');
}

.u22_container {
    position:absolute;
    left:145px;
    top:277px;
    width:114px;
    height:23px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:29px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:149px;
    top:282px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Add_Edit_Merchant_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:33px;
    top:306px;
    width:112px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:41px;
    top:310px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Add_Edit_Merchant_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:145px;
    top:306px;
    width:114px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:149px;
    top:310px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Add_Edit_Merchant_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:33px;
    top:163px;
    width:225px;
    height:24px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:30px;
}

.u32 {
    position:absolute;
    left:2px;
    top:4px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:41px;
    top:169px;
    width:115px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:34px;
    top:193px;
    width:225px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:39px;
    top:197px;
    width:115px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Add_Edit_Merchant_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:34px;
    top:361px;
    width:222px;
    height:25px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:31px;
}

.u37 {
    position:absolute;
    left:2px;
    top:5px;
    width:218px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Add_Edit_Merchant_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:180px;
    top:395px;
    width:75px;
    height:25px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Add_Edit_Merchant_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:33px;
    top:396px;
    width:75px;
    height:25px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u41 {
    position:absolute;
    left:2px;
    top:6px;
    width:71px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Add_Edit_Merchant_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:17px;
    top:433px;
    width:261px;
    height:62px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:62px;
}

.u43 {
    position:absolute;
    left:2px;
    top:23px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Add_Edit_Merchant_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:207px;
    top:437px;
    width:52px;
    height:37px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:37px;
}

.u45 {
    position:absolute;
    left:2px;
    top:10px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:130px;
    top:474px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:208px;
    top:472px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Add_Edit_Merchant_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:132px;
    top:443px;
    width:29px;
    height:29px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u49 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:123px;
    top:472px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:50px;
    top:472px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_line {
    background-image: url('../Add_Edit_Merchant_files/u52_line.png');
}

.u52_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u52 {
    position:absolute;
    left:95px;
    top:436px;
    width:10px;
    height:55px;
    
}

.u53_line {
    background-image: url('../Add_Edit_Merchant_files/u53_line.png');
}

.u53_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u53 {
    position:absolute;
    left:187px;
    top:436px;
    width:10px;
    height:55px;
    
}

.u54_normal {
    background-image: url('../Add_Edit_Merchant_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:46px;
    top:442px;
    width:29px;
    height:29px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u55 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Add_Edit_Merchant_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:129px;
    top:442px;
    width:30px;
    height:30px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u57 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

