﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Payment-Credit_Card_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:8px;
    width:320px;
    height:41px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:47px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Payment-Credit_Card_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:9px;
    top:431px;
    width:320px;
    height:37px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:43px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Payment-Credit_Card_files/placeholder_u4_normal.png');
}

.u4_container {
    position:absolute;
    left:36px;
    top:17px;
    width:42px;
    height:23px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:29px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:100px;
    top:21px;
    width:137px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:14px;
    top:17px;
    width:24px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Payment-Credit_Card_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:271px;
    top:18px;
    width:26px;
    height:23px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:29px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:22px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Payment-Credit_Card_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:307px;
    top:22px;
    width:16px;
    height:16px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u11 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Payment-Credit_Card_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:9px;
    top:8px;
    width:320px;
    height:460px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:466px;
}

.u13 {
    position:absolute;
    left:2px;
    top:222px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Payment-Credit_Card_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:22px;
    top:67px;
    width:293px;
    height:74px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:299px;
    height:80px;
}

.u15 {
    position:absolute;
    left:2px;
    top:29px;
    width:289px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:36px;
    top:79px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_line {
    background-image: url('../Payment-Credit_Card_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:269px;
    height:3px;
}

.u17 {
    position:absolute;
    left:36px;
    top:98px;
    width:269px;
    height:10px;
    
}

.u18 {
    position:absolute;
    left:36px;
    top:112px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:16px;
    top:0px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:16px;
    top:0px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:22px;
    top:151px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Payment-Credit_Card_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:22px;
    top:177px;
    width:293px;
    height:105px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:299px;
    height:111px;
}

.u25 {
    position:absolute;
    left:2px;
    top:44px;
    width:289px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:36px;
    top:189px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../Payment-Credit_Card_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:269px;
    height:3px;
}

.u27 {
    position:absolute;
    left:36px;
    top:208px;
    width:269px;
    height:10px;
    
}

.u28_normal {
    background-image: url('../Payment-Credit_Card_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:22px;
    top:249px;
    width:293px;
    height:33px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:299px;
    height:39px;
}

.u29 {
    position:absolute;
    left:2px;
    top:8px;
    width:289px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:36px;
    top:222px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:16px;
    top:0px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:16px;
    top:0px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../Payment-Credit_Card_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:0px;
    top:4px;
    width:269px;
    height:3px;
}

.u35 {
    position:absolute;
    left:36px;
    top:244px;
    width:269px;
    height:10px;
    
}

.u36 {
    position:absolute;
    left:36px;
    top:258px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:16px;
    top:0px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Payment-Credit_Card_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:24px;
    top:292px;
    width:293px;
    height:74px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:299px;
    height:80px;
}

.u40 {
    position:absolute;
    left:2px;
    top:29px;
    width:289px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:38px;
    top:304px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_line {
    background-image: url('../Payment-Credit_Card_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:0px;
    top:4px;
    width:269px;
    height:3px;
}

.u42 {
    position:absolute;
    left:38px;
    top:323px;
    width:269px;
    height:10px;
    
}

.u43 {
    position:absolute;
    left:38px;
    top:337px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:98px;
    top:304px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:98px;
    top:337px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

