﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:11px;
    top:10px;
    width:320px;
    height:41px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:47px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:11px;
    top:433px;
    width:320px;
    height:37px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:43px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Add_Transaction_-_Calc_files/placeholder_u4_normal.png');
}

.u4_container {
    position:absolute;
    left:38px;
    top:19px;
    width:42px;
    height:23px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:29px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:120px;
    top:23px;
    width:137px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:16px;
    top:19px;
    width:24px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:268px;
    top:20px;
    width:26px;
    height:23px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:29px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:22px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:304px;
    top:24px;
    width:16px;
    height:16px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u11 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:12px;
    top:53px;
    width:318px;
    height:66px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:324px;
    height:72px;
}

.u13 {
    position:absolute;
    left:2px;
    top:25px;
    width:314px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:74px;
    top:58px;
    width:194px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:11px;
    top:10px;
    width:320px;
    height:460px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:466px;
}

.u16 {
    position:absolute;
    left:2px;
    top:222px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:27px;
    top:136px;
    width:287px;
    height:69px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:293px;
    height:75px;
}

.u18 {
    position:absolute;
    left:2px;
    top:26px;
    width:283px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../Add_Transaction_-_Calc_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:287px;
    height:3px;
}

.u19 {
    position:absolute;
    left:27px;
    top:165px;
    width:287px;
    height:10px;
    
}

.u20 {
    position:absolute;
    left:41px;
    top:147px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:41px;
    top:172px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:41px;
    top:188px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:222px;
    top:214px;
    width:92px;
    height:41px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:47px;
}

.u24 {
    position:absolute;
    left:2px;
    top:4px;
    width:88px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u23_normal.png');
}

.u25_container {
    position:absolute;
    left:27px;
    top:214px;
    width:92px;
    height:41px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:47px;
}

.u26 {
    position:absolute;
    left:2px;
    top:4px;
    width:88px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u23_normal.png');
}

.u27_container {
    position:absolute;
    left:125px;
    top:214px;
    width:92px;
    height:41px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:47px;
}

.u28 {
    position:absolute;
    left:2px;
    top:4px;
    width:88px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u23_normal.png');
}

.u29_container {
    position:absolute;
    left:222px;
    top:262px;
    width:92px;
    height:41px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:47px;
}

.u30 {
    position:absolute;
    left:2px;
    top:4px;
    width:88px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u23_normal.png');
}

.u31_container {
    position:absolute;
    left:27px;
    top:262px;
    width:92px;
    height:41px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:47px;
}

.u32 {
    position:absolute;
    left:2px;
    top:4px;
    width:88px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u23_normal.png');
}

.u33_container {
    position:absolute;
    left:125px;
    top:262px;
    width:92px;
    height:41px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:47px;
}

.u34 {
    position:absolute;
    left:2px;
    top:4px;
    width:88px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u23_normal.png');
}

.u35_container {
    position:absolute;
    left:222px;
    top:310px;
    width:92px;
    height:41px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:47px;
}

.u36 {
    position:absolute;
    left:2px;
    top:4px;
    width:88px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u23_normal.png');
}

.u37_container {
    position:absolute;
    left:27px;
    top:310px;
    width:92px;
    height:41px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:47px;
}

.u38 {
    position:absolute;
    left:2px;
    top:4px;
    width:88px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u23_normal.png');
}

.u39_container {
    position:absolute;
    left:125px;
    top:310px;
    width:92px;
    height:41px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:47px;
}

.u40 {
    position:absolute;
    left:2px;
    top:4px;
    width:88px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:222px;
    top:358px;
    width:92px;
    height:41px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:47px;
}

.u42 {
    position:absolute;
    left:2px;
    top:13px;
    width:88px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:27px;
    top:358px;
    width:92px;
    height:41px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:47px;
}

.u44 {
    position:absolute;
    left:2px;
    top:12px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u23_normal.png');
}

.u45_container {
    position:absolute;
    left:125px;
    top:358px;
    width:92px;
    height:41px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:47px;
}

.u46 {
    position:absolute;
    left:2px;
    top:4px;
    width:88px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:68px;
    top:371px;
    width:20px;
    height:15px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:21px;
}

.u48 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Add_Transaction_-_Calc_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:55px;
    top:370px;
    width:13px;
    height:17px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:23px;
}

.u50 {
    position:absolute;
    left:2px;
    top:0px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:71px;
    top:370px;
    width:12px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

