﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Registration_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:19px;
    top:108px;
    width:257px;
    height:41px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:47px;
}

.u4 {
    position:absolute;
    left:2px;
    top:13px;
    width:253px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Registration_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:19px;
    top:20px;
    width:56px;
    height:19px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:25px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Registration_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:19px;
    top:149px;
    width:257px;
    height:330px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:336px;
}

.u8 {
    position:absolute;
    left:2px;
    top:157px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Registration_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:271px;
    top:20px;
    width:45px;
    height:19px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:25px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:41px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Registration_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:19px;
    top:203px;
    width:257px;
    height:29px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:35px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:26px;
    top:209px;
    width:117px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Registration_files/u11_normal.png');
}

.u14_container {
    position:absolute;
    left:19px;
    top:232px;
    width:257px;
    height:29px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:35px;
}

.u15 {
    position:absolute;
    left:2px;
    top:6px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:26px;
    top:238px;
    width:192px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Registration_files/u11_normal.png');
}

.u17_container {
    position:absolute;
    left:19px;
    top:261px;
    width:257px;
    height:29px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:263px;
    height:35px;
}

.u18 {
    position:absolute;
    left:2px;
    top:6px;
    width:253px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:26px;
    top:267px;
    width:192px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:19px;
    top:60px;
    width:310px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

