﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Summary_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:19px;
    top:111px;
    width:256px;
    height:312px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:312px;
}

.u4 {
    position:absolute;
    left:2px;
    top:148px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Summary_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:26px;
    top:111px;
    width:243px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:239px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Summary_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:36px;
    top:114px;
    width:37px;
    height:37px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:32px;
    top:159px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:32px;
    top:184px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:34px;
    top:209px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:174px;
    top:182px;
    width:92px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../Summary_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:141px;
    height:3px;
}

.u13 {
    position:absolute;
    left:64px;
    top:190px;
    width:141px;
    height:10px;
    
}

.u14_line {
    background-image: url('../Summary_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:0px;
    top:4px;
    width:118px;
    height:3px;
}

.u14 {
    position:absolute;
    left:80px;
    top:215px;
    width:118px;
    height:10px;
    
}

.u15 {
    position:absolute;
    left:172px;
    top:207px;
    width:92px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../Summary_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u16 {
    position:absolute;
    left:27px;
    top:278px;
    width:238px;
    height:10px;
    
}

.u17 {
    position:absolute;
    left:37px;
    top:298px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Summary_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:224px;
    top:293px;
    width:29px;
    height:27px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:33px;
}

.u19 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../Summary_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u20 {
    position:absolute;
    left:25px;
    top:324px;
    width:238px;
    height:10px;
    
}

.u21 {
    position:absolute;
    left:31px;
    top:246px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_line {
    background-image: url('../Summary_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:100px;
    height:3px;
}

.u22 {
    position:absolute;
    left:97px;
    top:252px;
    width:100px;
    height:10px;
    
}

.u23 {
    position:absolute;
    left:186px;
    top:242px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../Summary_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u24 {
    position:absolute;
    left:28px;
    top:324px;
    width:238px;
    height:10px;
    
}

.u25 {
    position:absolute;
    left:38px;
    top:344px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Summary_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:225px;
    top:339px;
    width:29px;
    height:27px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:33px;
}

.u27 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../Summary_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u28 {
    position:absolute;
    left:29px;
    top:368px;
    width:238px;
    height:10px;
    
}

.u29 {
    position:absolute;
    left:39px;
    top:388px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Summary_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:225px;
    top:383px;
    width:29px;
    height:27px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:33px;
}

.u31 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Summary_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:17px;
    top:420px;
    width:261px;
    height:62px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:62px;
}

.u33 {
    position:absolute;
    left:2px;
    top:23px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Summary_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:207px;
    top:424px;
    width:52px;
    height:37px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:37px;
}

.u35 {
    position:absolute;
    left:2px;
    top:10px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:130px;
    top:461px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:208px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Summary_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:132px;
    top:430px;
    width:29px;
    height:29px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:123px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:50px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_line {
    background-image: url('../Summary_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u42 {
    position:absolute;
    left:95px;
    top:423px;
    width:10px;
    height:55px;
    
}

.u43_line {
    background-image: url('../Summary_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u43 {
    position:absolute;
    left:187px;
    top:423px;
    width:10px;
    height:55px;
    
}

.u44_normal {
    background-image: url('../Summary_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:46px;
    top:429px;
    width:29px;
    height:29px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u45 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Summary_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:129px;
    top:429px;
    width:30px;
    height:30px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u47 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

