﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Add_Expense_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:20px;
    top:110px;
    width:256px;
    height:312px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:312px;
}

.u4 {
    position:absolute;
    left:2px;
    top:148px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Add_Expense_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:27px;
    top:110px;
    width:243px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:239px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Add_Expense_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:37px;
    top:113px;
    width:37px;
    height:37px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:33px;
    top:161px;
    width:140px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Add_Expense_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:30px;
    top:175px;
    width:220px;
    height:21px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:27px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:216px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:33px;
    top:202px;
    width:140px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Add_Expense_files/u10_normal.png');
}

.u13_container {
    position:absolute;
    left:30px;
    top:216px;
    width:220px;
    height:21px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:27px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:216px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:33px;
    top:242px;
    width:140px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Add_Expense_files/u10_normal.png');
}

.u16_container {
    position:absolute;
    left:30px;
    top:256px;
    width:220px;
    height:21px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:27px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:216px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:33px;
    top:282px;
    width:140px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Add_Expense_files/u10_normal.png');
}

.u19_container {
    position:absolute;
    left:30px;
    top:296px;
    width:220px;
    height:21px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:27px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:216px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:33px;
    top:322px;
    width:140px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Add_Expense_files/u10_normal.png');
}

.u22_container {
    position:absolute;
    left:30px;
    top:336px;
    width:220px;
    height:21px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:27px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:216px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:33px;
    top:362px;
    width:140px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Add_Expense_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:30px;
    top:376px;
    width:220px;
    height:21px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:27px;
}

.u26 {
    position:absolute;
    left:2px;
    top:4px;
    width:216px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Add_Expense_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:17px;
    top:420px;
    width:261px;
    height:62px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:62px;
}

.u28 {
    position:absolute;
    left:2px;
    top:23px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Add_Expense_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:207px;
    top:424px;
    width:52px;
    height:37px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:37px;
}

.u30 {
    position:absolute;
    left:2px;
    top:10px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:130px;
    top:461px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:208px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Add_Expense_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:132px;
    top:430px;
    width:29px;
    height:29px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u34 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:123px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:50px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_line {
    background-image: url('../Add_Expense_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u37 {
    position:absolute;
    left:95px;
    top:423px;
    width:10px;
    height:55px;
    
}

.u38_line {
    background-image: url('../Add_Expense_files/u38_line.png');
}

.u38_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u38 {
    position:absolute;
    left:187px;
    top:423px;
    width:10px;
    height:55px;
    
}

.u39_normal {
    background-image: url('../Add_Expense_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:46px;
    top:429px;
    width:29px;
    height:29px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u40 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Add_Expense_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:129px;
    top:429px;
    width:30px;
    height:30px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u42 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

