﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Search_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:9px;
    width:320px;
    height:460px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:466px;
}

.u1 {
    position:absolute;
    left:2px;
    top:222px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Search_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:9px;
    width:320px;
    height:41px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:47px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Search_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:432px;
    width:320px;
    height:37px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:43px;
}

.u5 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Search_files/placeholder_u6_normal.png');
}

.u6_container {
    position:absolute;
    left:22px;
    top:18px;
    width:42px;
    height:23px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:29px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:38px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../Search_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:25px;
    height:3px;
}

.u8 {
    position:absolute;
    left:294px;
    top:19px;
    width:25px;
    height:10px;
    
}

.u9_line {
    background-image: url('../Search_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:25px;
    height:3px;
}

.u9 {
    position:absolute;
    left:294px;
    top:25px;
    width:25px;
    height:10px;
    
}

.u10_line {
    background-image: url('../Search_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:25px;
    height:3px;
}

.u10 {
    position:absolute;
    left:294px;
    top:31px;
    width:25px;
    height:10px;
    
}

.u11 {
    position:absolute;
    left:217px;
    top:22px;
    width:67px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:22px;
    top:57px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:22px;
    top:82px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:22px;
    top:107px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:244px;
    top:78px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../Search_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:180px;
    height:3px;
}

.u16 {
    position:absolute;
    left:54px;
    top:88px;
    width:180px;
    height:10px;
    
}

.u17_line {
    background-image: url('../Search_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u17 {
    position:absolute;
    left:74px;
    top:113px;
    width:150px;
    height:10px;
    
}

.u18 {
    position:absolute;
    left:234px;
    top:102px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../Search_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:319px;
    height:3px;
}

.u19 {
    position:absolute;
    left:11px;
    top:125px;
    width:319px;
    height:10px;
    
}

.u20 {
    position:absolute;
    left:22px;
    top:137px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:84px;
    top:137px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:22px;
    top:160px;
    width:226px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_line {
    background-image: url('../Search_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:0px;
    top:4px;
    width:319px;
    height:3px;
}

.u23 {
    position:absolute;
    left:11px;
    top:176px;
    width:319px;
    height:10px;
    
}

.u24 {
    position:absolute;
    left:22px;
    top:187px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:22px;
    top:212px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_line {
    background-image: url('../Search_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:4px;
    width:222px;
    height:3px;
}

.u26 {
    position:absolute;
    left:54px;
    top:218px;
    width:222px;
    height:10px;
    
}

.u27 {
    position:absolute;
    left:285px;
    top:206px;
    width:27px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:254px;
    top:233px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:260px;
    top:248px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Search_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:10px;
    top:50px;
    width:320px;
    height:382px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:388px;
}

.u31 {
    position:absolute;
    left:2px;
    top:183px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Search_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:28px;
    top:25px;
    width:284px;
    height:208px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:290px;
    height:214px;
}

.u33 {
    position:absolute;
    left:2px;
    top:96px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:36px;
    top:36px;
    width:220px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../Search_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:0px;
    top:4px;
    width:284px;
    height:3px;
}

.u35 {
    position:absolute;
    left:28px;
    top:61px;
    width:284px;
    height:10px;
    
}

.u36_line {
    background-image: url('../Search_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:0px;
    top:4px;
    width:249px;
    height:3px;
}

.u36 {
    position:absolute;
    left:47px;
    top:94px;
    width:249px;
    height:10px;
    
}

.u37_normal {
    background-image: url('../Search_files/placeholder_u37_normal.png');
}

.u37_container {
    position:absolute;
    left:48px;
    top:72px;
    width:21px;
    height:23px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:29px;
}

.u38 {
    position:absolute;
    left:2px;
    top:4px;
    width:17px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:79px;
    top:78px;
    width:220px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Search_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:28px;
    top:113px;
    width:284px;
    height:120px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:290px;
    height:126px;
}

.u41 {
    position:absolute;
    left:2px;
    top:52px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:36px;
    top:125px;
    width:220px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:54px;
    top:151px;
    width:220px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:123px;
    top:151px;
    width:151px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:54px;
    top:172px;
    width:220px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:123px;
    top:172px;
    width:151px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:54px;
    top:195px;
    width:220px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:88px;
    top:195px;
    width:188px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Search_files/placeholder_u49_normal.png');
}

.u49_container {
    position:absolute;
    left:10px;
    top:248px;
    width:320px;
    height:221px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:227px;
}

.u50 {
    position:absolute;
    left:2px;
    top:103px;
    width:316px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

