﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_2_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../All_Transactions_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:20px;
    top:110px;
    width:256px;
    height:312px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:312px;
}

.u4 {
    position:absolute;
    left:2px;
    top:148px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../All_Transactions_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:27px;
    top:110px;
    width:243px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:239px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../All_Transactions_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:37px;
    top:113px;
    width:37px;
    height:37px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../All_Transactions_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u9 {
    position:absolute;
    left:26px;
    top:218px;
    width:238px;
    height:10px;
    
}

.u10_normal {
    background-image: url('../All_Transactions_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:36px;
    top:164px;
    width:226px;
    height:23px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:232px;
    height:29px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:40px;
    top:168px;
    width:218px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:92px;
    top:197px;
    width:45px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:95px;
    top:208px;
    width:140px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:147px;
    top:202px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:200px;
    top:201px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:32px;
    top:203px;
    width:51px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../All_Transactions_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:250px;
    top:200px;
    width:16px;
    height:16px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u19 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:87px;
    top:228px;
    width:55px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:90px;
    top:239px;
    width:140px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:154px;
    top:233px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:32px;
    top:234px;
    width:51px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../All_Transactions_files/u18_normal.png');
}

.u24_container {
    position:absolute;
    left:250px;
    top:231px;
    width:16px;
    height:16px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u25 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:92px;
    top:260px;
    width:45px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:95px;
    top:271px;
    width:140px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:147px;
    top:265px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:32px;
    top:266px;
    width:51px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../All_Transactions_files/u18_normal.png');
}

.u30_container {
    position:absolute;
    left:250px;
    top:263px;
    width:16px;
    height:16px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u31 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:92px;
    top:291px;
    width:45px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:95px;
    top:302px;
    width:140px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:147px;
    top:296px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:32px;
    top:297px;
    width:51px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../All_Transactions_files/u18_normal.png');
}

.u36_container {
    position:absolute;
    left:250px;
    top:294px;
    width:16px;
    height:16px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u37 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:92px;
    top:323px;
    width:45px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:95px;
    top:334px;
    width:140px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:147px;
    top:328px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:32px;
    top:329px;
    width:51px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../All_Transactions_files/u18_normal.png');
}

.u42_container {
    position:absolute;
    left:250px;
    top:326px;
    width:16px;
    height:16px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u43 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:92px;
    top:354px;
    width:45px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:95px;
    top:365px;
    width:140px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:147px;
    top:359px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:32px;
    top:360px;
    width:51px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../All_Transactions_files/u18_normal.png');
}

.u48_container {
    position:absolute;
    left:250px;
    top:357px;
    width:16px;
    height:16px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u49 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:200px;
    top:231px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:200px;
    top:262px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:200px;
    top:295px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:200px;
    top:325px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:200px;
    top:358px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_line {
    background-image: url('../All_Transactions_files/u55_line.png');
}

.u55_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u55 {
    position:absolute;
    left:28px;
    top:252px;
    width:238px;
    height:10px;
    
}

.u56_line {
    background-image: url('../All_Transactions_files/u56_line.png');
}

.u56_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u56 {
    position:absolute;
    left:32px;
    top:284px;
    width:238px;
    height:10px;
    
}

.u57_line {
    background-image: url('../All_Transactions_files/u57_line.png');
}

.u57_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u57 {
    position:absolute;
    left:32px;
    top:314px;
    width:238px;
    height:10px;
    
}

.u58_line {
    background-image: url('../All_Transactions_files/u58_line.png');
}

.u58_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u58 {
    position:absolute;
    left:32px;
    top:345px;
    width:238px;
    height:10px;
    
}

.u59_normal {
    background-image: url('../All_Transactions_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:17px;
    top:420px;
    width:261px;
    height:62px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:62px;
}

.u60 {
    position:absolute;
    left:2px;
    top:23px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../All_Transactions_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:207px;
    top:424px;
    width:52px;
    height:37px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:37px;
}

.u62 {
    position:absolute;
    left:2px;
    top:10px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:130px;
    top:461px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:208px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../All_Transactions_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:132px;
    top:430px;
    width:29px;
    height:29px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u66 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:123px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:50px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_line {
    background-image: url('../All_Transactions_files/u69_line.png');
}

.u69_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u69 {
    position:absolute;
    left:95px;
    top:423px;
    width:10px;
    height:55px;
    
}

.u70_line {
    background-image: url('../All_Transactions_files/u70_line.png');
}

.u70_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u70 {
    position:absolute;
    left:187px;
    top:423px;
    width:10px;
    height:55px;
    
}

.u71_normal {
    background-image: url('../All_Transactions_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:46px;
    top:429px;
    width:29px;
    height:29px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u72 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../All_Transactions_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:129px;
    top:429px;
    width:30px;
    height:30px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u74 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

