﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 314px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Review_Transaction_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:20px;
    top:418px;
    width:255px;
    height:62px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:68px;
}

.u4 {
    position:absolute;
    left:2px;
    top:23px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Review_Transaction_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:20px;
    top:110px;
    width:256px;
    height:312px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:312px;
}

.u6 {
    position:absolute;
    left:2px;
    top:148px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Review_Transaction_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:87px;
    top:407px;
    width:128px;
    height:83px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:83px;
}

.u8 {
    position:absolute;
    left:2px;
    top:34px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Review_Transaction_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:113px;
    top:418px;
    width:69px;
    height:63px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:63px;
}

.u10 {
    position:absolute;
    left:2px;
    top:24px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Review_Transaction_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:208px;
    top:422px;
    width:52px;
    height:37px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:37px;
}

.u12 {
    position:absolute;
    left:2px;
    top:10px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Review_Transaction_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:106px;
    top:411px;
    width:84px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:40px;
}

.u14 {
    position:absolute;
    left:2px;
    top:12px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Review_Transaction_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:27px;
    top:110px;
    width:243px;
    height:45px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:51px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:239px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:131px;
    top:457px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:209px;
    top:457px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Review_Transaction_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:133px;
    top:428px;
    width:29px;
    height:29px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u20 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Review_Transaction_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:37px;
    top:113px;
    width:37px;
    height:37px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u22 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:24px;
    top:462px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Review_Transaction_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:49px;
    top:431px;
    width:29px;
    height:30px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:30px;
}

.u25 {
    position:absolute;
    left:2px;
    top:7px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:33px;
    top:162px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:42px;
    top:184px;
    width:63px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:173px;
    top:159px;
    width:92px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_line {
    background-image: url('../Review_Transaction_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:0px;
    top:4px;
    width:108px;
    height:3px;
}

.u29 {
    position:absolute;
    left:98px;
    top:190px;
    width:108px;
    height:10px;
    
}

.u30 {
    position:absolute;
    left:173px;
    top:185px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_line {
    background-image: url('../Review_Transaction_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u31 {
    position:absolute;
    left:28px;
    top:227px;
    width:238px;
    height:10px;
    
}

.u32 {
    position:absolute;
    left:42px;
    top:204px;
    width:63px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:171px;
    top:206px;
    width:92px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_line {
    background-image: url('../Review_Transaction_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:4px;
    width:108px;
    height:3px;
}

.u34 {
    position:absolute;
    left:97px;
    top:211px;
    width:108px;
    height:10px;
    
}

.u35 {
    position:absolute;
    left:33px;
    top:237px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:33px;
    top:261px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:33px;
    top:285px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:209px;
    top:285px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:33px;
    top:309px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:33px;
    top:333px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Review_Transaction_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:184px;
    top:383px;
    width:75px;
    height:25px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u42 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Review_Transaction_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:33px;
    top:384px;
    width:75px;
    height:25px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u44 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_line {
    background-image: url('../Review_Transaction_files/u45_line.png');
}

.u45_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u45 {
    position:absolute;
    left:28px;
    top:251px;
    width:238px;
    height:10px;
    
}

.u46_line {
    background-image: url('../Review_Transaction_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u46 {
    position:absolute;
    left:28px;
    top:275px;
    width:238px;
    height:10px;
    
}

.u47_line {
    background-image: url('../Review_Transaction_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u47 {
    position:absolute;
    left:28px;
    top:299px;
    width:238px;
    height:10px;
    
}

.u48_line {
    background-image: url('../Review_Transaction_files/u48_line.png');
}

.u48_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u48 {
    position:absolute;
    left:28px;
    top:323px;
    width:238px;
    height:10px;
    
}

.u49_line {
    background-image: url('../Review_Transaction_files/u49_line.png');
}

.u49_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u49 {
    position:absolute;
    left:28px;
    top:349px;
    width:238px;
    height:10px;
    
}

.u50 {
    position:absolute;
    left:214px;
    top:309px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:209px;
    top:237px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:164px;
    top:262px;
    width:116px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:181px;
    top:333px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:31px;
    top:356px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:206px;
    top:356px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

