﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../To_Do_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:17px;
    top:111px;
    width:256px;
    height:312px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:312px;
}

.u4 {
    position:absolute;
    left:2px;
    top:148px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../To_Do_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:23px;
    top:111px;
    width:244px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:240px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../To_Do_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:34px;
    top:114px;
    width:37px;
    height:37px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:28px;
    top:170px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:28px;
    top:188px;
    width:226px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../To_Do_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:225px;
    top:175px;
    width:29px;
    height:27px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:33px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../To_Do_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u13 {
    position:absolute;
    left:23px;
    top:206px;
    width:238px;
    height:10px;
    
}

.u14_normal {
    background-image: url('../To_Do_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:228px;
    top:178px;
    width:22px;
    height:21px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:21px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:29px;
    top:217px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:29px;
    top:235px;
    width:226px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../To_Do_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:226px;
    top:222px;
    width:29px;
    height:27px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:33px;
}

.u19 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../To_Do_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u20 {
    position:absolute;
    left:24px;
    top:253px;
    width:238px;
    height:10px;
    
}

.u21_normal {
    background-image: url('../To_Do_files/u14_normal.png');
}

.u21_container {
    position:absolute;
    left:229px;
    top:225px;
    width:22px;
    height:21px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:21px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:28px;
    top:262px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:28px;
    top:280px;
    width:226px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../To_Do_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:225px;
    top:267px;
    width:29px;
    height:27px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:33px;
}

.u26 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../To_Do_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u27 {
    position:absolute;
    left:23px;
    top:298px;
    width:238px;
    height:10px;
    
}

.u28_normal {
    background-image: url('../To_Do_files/u14_normal.png');
}

.u28_container {
    position:absolute;
    left:228px;
    top:270px;
    width:22px;
    height:21px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:21px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:29px;
    top:307px;
    width:140px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:29px;
    top:325px;
    width:226px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_line {
    background-image: url('../To_Do_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:0px;
    top:4px;
    width:238px;
    height:3px;
}

.u32 {
    position:absolute;
    left:24px;
    top:343px;
    width:238px;
    height:10px;
    
}

.u33_normal {
    background-image: url('../To_Do_files/u11_normal.png');
}

.u33_container {
    position:absolute;
    left:226px;
    top:316px;
    width:29px;
    height:27px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:33px;
}

.u34 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../To_Do_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:231px;
    top:316px;
    width:24px;
    height:24px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u36 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../To_Do_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:17px;
    top:420px;
    width:261px;
    height:62px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:62px;
}

.u38 {
    position:absolute;
    left:2px;
    top:23px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../To_Do_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:207px;
    top:424px;
    width:52px;
    height:37px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:37px;
}

.u40 {
    position:absolute;
    left:2px;
    top:10px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:130px;
    top:461px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:208px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../To_Do_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:132px;
    top:430px;
    width:29px;
    height:29px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u44 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:123px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:50px;
    top:459px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_line {
    background-image: url('../To_Do_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u47 {
    position:absolute;
    left:95px;
    top:423px;
    width:10px;
    height:55px;
    
}

.u48_line {
    background-image: url('../To_Do_files/u48_line.png');
}

.u48_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:55px;
}

.u48 {
    position:absolute;
    left:187px;
    top:423px;
    width:10px;
    height:55px;
    
}

.u49_normal {
    background-image: url('../To_Do_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:46px;
    top:429px;
    width:29px;
    height:29px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u50 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../To_Do_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:129px;
    top:429px;
    width:30px;
    height:30px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u52 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

