﻿body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --10px;
    width: 425px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Background_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:-11px;
    width:309px;
    height:598px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:309px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:291px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Future_Features_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:19px;
    top:108px;
    width:256px;
    height:302px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:256px;
    height:302px;
}

.u4 {
    position:absolute;
    left:2px;
    top:143px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Future_Features_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:17px;
    top:420px;
    width:261px;
    height:62px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:62px;
}

.u6 {
    position:absolute;
    left:2px;
    top:23px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Future_Features_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:370px;
    top:202px;
    width:45px;
    height:30px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:30px;
}

.u8 {
    position:absolute;
    left:2px;
    top:7px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Future_Features_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:86px;
    top:410px;
    width:128px;
    height:83px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:83px;
}

.u10 {
    position:absolute;
    left:2px;
    top:34px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Future_Features_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:112px;
    top:421px;
    width:69px;
    height:58px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:58px;
}

.u12 {
    position:absolute;
    left:2px;
    top:21px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Future_Features_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:207px;
    top:426px;
    width:52px;
    height:37px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:37px;
}

.u14 {
    position:absolute;
    left:2px;
    top:10px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Future_Features_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:105px;
    top:414px;
    width:84px;
    height:40px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:84px;
    height:40px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Future_Features_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:19px;
    top:108px;
    width:250px;
    height:45px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:51px;
}

.u18 {
    position:absolute;
    left:2px;
    top:12px;
    width:246px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:130px;
    top:461px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:208px;
    top:461px;
    width:55px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Future_Features_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:132px;
    top:430px;
    width:29px;
    height:29px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u22 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:23px;
    top:460px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Future_Features_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:48px;
    top:429px;
    width:29px;
    height:30px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:30px;
}

.u25 {
    position:absolute;
    left:2px;
    top:7px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

